body {
    background-color: #000;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
p {
    font-size: 1.2em;
}
a {
    color: #99ccff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
}

/*NAV BAR*/
.nav-wrapper {
    padding-left:3%;
    padding-right:3%;
    background-color: black;
}
.nav-wrapper a:hover {
    color: #99ccff;
}
#sidenav-overlay {
    z-index: 97;
}
#mobile-demo{
    height: 150px !important;
}
.active{
    background-color: #757575 !important;
}


/* intros & headers */
.parralax-window{
    min-height:300px;
}
#intro {
    min-height: 70vh;
    width: 100%;
    background: transparent;
    text-align: center;
}
.title {
    padding-top:15%;
    padding-bottom: 5%;
}
#social_media {
    font-size: 2em;
}
#divider{
    min-height: 300px;
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px #99ccff;
}

.projects img {
    transition: all .35s ease-in-out;
}
.projects img:hover {
    transform: scale(1.3);
}

.divider {
    height: 2px;
    background-color: #99ccff;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* ART */
#instafeed>a>img {
    width: 50%;
    padding:25px;
}

/*Footer*/
footer{
    padding-top:50px;
    font-size: 12px;
}
.connect {
    font-size: 1.3em;
    text-align: right;
    padding-right: 2%;
}

.connect ul, li {
    list-style: none;
}
