body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    color: #000;
}
p {
    font-size: 1.2em;
}
a {
    color: #BA4A84;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: underline;
}
a:hover,
a:focus {
    color: #ad000e;
}

.active{
    color: #8D005F;
}
.nav {
    font-size: 1.3em;
}
#title {
    color: #970003;
    font-family: 'Barrio', cursive;
}
#subhead {
    color: #672626;
}


/* intros & headers */
.parralax-window{
    min-height:300px;
}
#intro {
    min-height: 70vh;
    width: 100%;
    background: transparent;
    text-align: center;
}
.title {
    padding-top:15%;
    padding-bottom: 5%;
}
#social_media {
    font-size: 2em;
}
#divider{
    min-height: 300px;
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px #99ccff;
}
#filler {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    max-height:400px;
}

/*responsive filler*/
@media only screen and (max-width: 600px) {
    #filler {
        display: none;
    }
}


/*Footer*/
footer{
    padding-top:50px;
    font-size: 12px;
}
.connect {
    font-size: 1.3em;
    text-align: right;
    padding-right: 2%;
}

.connect ul, li {
    list-style: none;
}
